/* @import 'colors'; */

/* @mixin button-style() {
  background-image: linear-gradient(#fff,#f1f1f1);
  border: 1px solid $border-color;
}
  
@mixin inner-content () {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  border-radius: .6rem;
  padding: 3rem;
  box-sizing: border-box;
} */