@import '../../../style/index.css';

.home {
  overflow: scroll;
  box-sizing: border-box;
}

.home__loader {
  margin: 0 auto;
}

.home--loading, .home--empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__header {
  border-bottom: 1px solid var(--border-color);
  background: var(--bg-color);
}

/* .home__content {
} */